.pure-u-2-3 {
    width: 75%;
    padding: 10px;
}

.pure-u-1-3 {
    width: 25%;
    padding: 10px;
}

.page {
    width: 100%;
    background-color: lightgrey;
    margin: auto;
	padding: 30px;
}

body *{
    font-family: 'Open Sans', sans-serif;
}

#title-block {
    padding: 10px;
}

.pure-g {
    background-color: azure;
}